/* background-color: stone 
.page-title {
    font-size: 10px;
    color:rgb(131, 156, 210);  */

/* .background {
  background-image: url('https://cdn.britannica.com/92/216092-131-5FF4D1E7/custom-library.jpg')
}




export default App; */